.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 8px;
    cursor: pointer;
}

.sidebar .new-chat {
    margin-top: 60px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background-color: #E6E8EC;
    border-radius: 50px;
    font-size: 16px;
    color: #474f5a;
    cursor: pointer;
}

.sidebar .new-chat:hover {
    background-color: #DCE1E7;
}

.sidebar .new-chat p {
    padding-left: 8px;
    padding-right: 8px;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title {
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent-entry img {
    width: 15px;
}

.sidebar .recent-entry:hover {
    background-color: #d3e3fd;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}


.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}

.sidebar .bottom-item img {
    width: 18px;
}

.github-link {
    margin-left: 7px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.github-link img {
    width: 30px;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}